body {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.5rem;
}
.section {
	position: relative;
	width: 100%;
	max-width:600px;
	margin-bottom: 200px;
}
.main {
	width: 100%;
}
.allWords {
	position: absolute;
}
#p1Words1 {
	top: 2%;
	left: 6%;
	margin-top: 0px;
}
#p1Words1 h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
#p1Words1 p {
	margin-top: 0px;
}
.pink {
	position: absolute;
	width: 12%;
}
.pink:hover {
	width: 13%;
}
#pink1 {
	top: 20%;
	left: 6%;
}
#p1Words2 {
	top: 17%;
	left: 19%;
}
#pink2 {
	top: 70%;
	left: 6%;
}
#p1Words3 {
	top: 67%;
	left: 19%;
}
#pink3 {
	top: 79%;
	left: 6%;
}
#p1Words4 {
	top: 76%;
	left: 19%;
}
#pink4 {
	top: 89%;
	left: 6%;
}
#p1Words5 {
	top: 86%;
	left: 19%;
}
footer {
	position: fixed;
	top: 92%;
	width: 100%;
}
.logo {
	width: 15%;
	margin: 8px;
}
.source {
	font-size: 0.8rem;
}
#p2Words1 {
	position: absolute;
	top: 5%;
	left: 6%;
}
#p2Words2 {
	position: absolute;
    top: 25%;
    left: 35%;
    font-size: 1rem;	
}
#p2Words3 {
	position: absolute;
    top: 30%;
    left: 15%;
    font-size: 1rem;
}
#p2Words4 {
	position: absolute;
    top: 50%;
    left: 75%;
    font-size: 1rem;
}
#p2Words5 {
	position: absolute;
    top: 67%;
    left: 12%;
    font-size: 1rem;
}
#p2pink1 {
	top: 85%;
	left: 6%;
}
#p2pink2 {
	top: 85%;
	left: 86%;
}
#p2Words6 {
	top: 82%;
	left: 19%;
}
#p2Words7 {
	top: 82%;
	left: 69%;
}
#p3Words1 {
	position: absolute;
	top: 5%;
	left: 6%;
}
#p3Words2 {
	position: absolute;
    top: 15%;
    left: 10%;
    font-size: 1rem;	
}
#p3Words3 {
	position: absolute;
    top: 45%;
    left: 75%;
    font-size: 1rem;	
}
#p3pink1 {
	top: 85%;
	left: 6%;
}
#p3pink2 {
	top: 85%;
	left: 86%;
}
#p3Words4 {
	top: 82%;
	left: 19%;
}
#p3Words5 {
	top: 82%;
	left: 69%;
}
#p4Words1 {
	position: absolute;
	top: 5%;
	left: 6%;
}
#p4Words2 {
	position: absolute;
    top: 14%;
    left: 5%;
    font-size: 1rem;	
}
#p4Words3 {
	position: absolute;
    top: 49%;
    left: 75%;
    font-size: 1rem;	
}
#p4Words4 {
	position: absolute;
    top: 65%;
    left: 5%;
    font-size: 1rem;	
}
#p4pink1 {
	top: 85%;
	left: 6%;
}
#p4pink2 {
	top: 85%;
	left: 86%;
}
#p4Words5 {
	top: 82%;
	left: 19%;
}
#p4Words6 {
	top: 82%;
	left: 69%;
}
#p5Words1 {
	position: absolute;
	top: 5%;
	left: 6%;
}
#p5Words2 {
	position: absolute;
	top: 15%;
	left: 30%;
}
#p5pink1 {
	top: 25%;
	left: 4.5%;
}
#p5pink2 {
	top: 85%;
	left: 6%;
}
#p5Words3 {
	top: 82%;
	left: 19%;
}
.grey {
	position: absolute;
	width: 8%;
}
#p6Words1 {
	position: absolute;
	top: 5%;
	left: 6%;
}
#p6Words2 {
	position: absolute;
	top: 15%;
	left: 30%;
}
#p6Words3 {
	position: absolute;
	top: 21%;
	left: 17%;
}
#p6grey1 {
	top: 25%;
	left: 5.3%;
}
#p6pink1 {
	top: 45%;
	left: 4.2%;
}
#p6pink2 {
	top: 85%;
	left: 6%;
}
#p6Words4 {
	top: 82%;
	left: 19%;
}
#p7Words1 {
	position: absolute;
	top: 5%;
	left: 6%;
}
#p7Words2 {
	position: absolute;
	top: 15%;
	left: 30%;
}
#p7Words3 {
	position: absolute;
	top: 21%;
	left: 17%;
}
#p7grey1 {
	top: 25%;
	left: 5.3%;
}
#p7grey2 {
	top: 38%;
	left: 5.3%;
}
#p7Words4 {
	position: absolute;
	top: 35%;
	left: 17%;
}
#p7pink1 {
	top: 58%;
	left: 4.2%;
}
#p7pink2 {
	top: 85%;
	left: 6%;
}
#p6Words5 {
	top: 82%;
	left: 19%;
}
#p8Words1 {
	position: absolute;
	top: 5%;
	left: 6%;
}
#p8Words2 {
	position: absolute;
	top: 15%;
	left: 30%;
}
#p8Words3 {
	position: absolute;
	top: 21%;
	left: 17%;
}
#p8grey1 {
	top: 25%;
	left: 5.3%;
}
#p8grey2 {
	top: 38%;
	left: 5.3%;
}
#p8grey3 {
	top: 58%;
	left: 5.3%;
}
#p8Words4 {
	position: absolute;
	top: 35%;
	left: 17%;
}
#p8Words5 {
	position: absolute;
	top: 55%;
	left: 17%;
}

#p8pink2 {
	top: 85%;
	left: 6%;
}
#p8Words6 {
	top: 82%;
	left: 19%;
}